<footer class="text-muted">
  <div class="container">
    <p class="float-right">
   	<%= link_to "View All Portfolio Items", portfolios_path %> 
    </p>
    <p>
    	<%= copyright_generator %>
    </p>
  </div>
</footer>