<h1>Would you like to work together?</h1>

<hr>

<div class="row">
	<div class="col-md-3">
		<h3>Address</h3><p>305 Linden Street<br/>Shreveport, LA 71104</p>
		<h3>Phone</h3><p>614-682-2427</p>
		<h3>Email</h3><p><a href="mailto:cs.pmosh@gmail.com?subject=PortfolioContact" "cs.pmosh@gmail.com">cs.pmosh@gmail.com</a></p>
	</div>
	<div class="col-md-6">

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3365.8566749626107!2d-93.73853584891141!3d32.47652510645964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86312d56d31b9441%3A0x16abb688b178fed6!2s305%20Linden%20St%2C%20Shreveport%2C%20LA%2071104!5e0!3m2!1sen!2sus!4v1587132894790!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
</div>