<main role="main" class="inner cover">
	<h1 class="cover-heading">Welcome.</h1>
	<p class="lead">I'm a full-stack developer and graphic designer from Shreveport, LA. I am a self-driven and motivated individual. When it comes to my work, I believe in simplicity and clarity. I am passionate about providing the best user-experience possible, whether through code or digital design.</p>
	<p class="lead">
		<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
	</p>
</main>

